.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    a {
        font-weight: bold;
        text-decoration: line-through;
        font-size: 100px;
    }

    .leaf-background {
        background-image: url("background-sm.jpg");
    }

    .btn-color-orange {
        background-color: rgb(236, 108, 48);
        color: white;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn-outline-orange{
        border: 1px solid rgb(236, 108, 48);
    }

    .btn-outline-orange:hover {
       background-color: rgb(236, 108, 48);
        color: white;
    }

    .first-page-heading {
        font-weight: bold;
        font-size: 2rem;
        color:black;
    }

    .d-inline-block {
        padding-right: 3rem;
    }

    :root {
        --bs-primary-rgb: 255, 255, 255;
    }

    .navbar {
        border-top: 5px solid rgb(236, 108, 48);
    }

    .btn {
        background-color: #fbf2ea;
        border: 1px solid black;
    }
