<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <!-- Material Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav class="navbar bg-color-orange" style="display: flex;">
    <div class="container-fluid justify-content-between">
        <div class="navbar-brand first-page-heading">
            <img src="/8999-swedbank-logo-default.svg" alt="Logo" width="200" height="70"
                 class="d-inline-block align-text-left">
        </div>
        <div>
            <button type="button" class="btn btn-color-peach" onclick="location.href='/logout'"
                                        style="display: grid;
                                        justify-content: center;
                                        align-items: center;
                                        border: 2px solid black;
                                        padding: 10px;
                                        border-radius: 10px;">
                <div style="width: 100%; display: flex">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Logout</span>
                </div>
            </button>
        </div>
    </div>
</nav>

<div class="toolbar"
     style="height: 100%; width: 100%; display: flex; justify-content: space-between; padding: 1.2rem;">
    <div>
        <h2>Task List</h2>
    </div>
    <!-- Button trigger modal -->
    <div>
        <button type="button" class="btn btn-outline-orange" data-bs-toggle="modal"
                data-bs-target="#createTaskModal">Create Task
            <span class="material-symbols-outlined">add_task</span>
        </button>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-hover table-striped">
        <tr>
            <th scope="col">Prioritization</th>
            <th scope="col">Notes</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Expires</th>
            <th scope="col">Mark Done</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        <tbody>
        <tr th:each="task : ${taskList}">
            <td th:text="${task.prioritizationType}"></td>
            <td th:text="${task.caseNotes}"></td>
            <td th:text="${task.createdAt}"></td>
            <td th:text="${task.updatedAt}"></td>
            <td th:text="${task.expiresAt}"></td>
            <td>
                <form action="/complete/task" method="post">
                    <input type="hidden" name="id" th:value="${task.id}">
                <button type="submit" class="btn btn-success">

                    <span th:if="${task.completionAt != null}"class="material-symbols-outlined">
                    remove_done
                    </span>
                    <span th:if="${task.completionAt == null}" class="material-symbols-outlined">done</span>

                    </button>
                </form>
            </td>
            <td>
                <!-- Button Edit Task Modal -->
                <button type="button" class="btn btn-outline-orange" data-bs-toggle="modal"
                        th:data-bs-target="${'#editTaskModal' + task.id}">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <!-- Edit task Modal -->
                <div class="modal fade" th:id="${'editTaskModal' + task.id}" data-bs-backdrop="false" tabindex="-1"
                     aria-labelledby="editTaskModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content container-fluid">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editTaskModalLabel">Edit Task</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form action="/edit/task" th:object="${task}" method="POST">
                                <div class="modal-body">
                                    <label for="caseNotes" class="form-label">Case Notes</label>
                                    <input class="form-control" type="text" id="caseNotes" th:field="*{caseNotes}">
                                    <label for="prioritizationType" class="form-label">Prioritization</label>
                                    <select class="form-control" id="prioritizationType" th:field="*{prioritizationType}">
                                        <option value="Urgent">Urgent</option>
                                        <option value="No Rush">No Rush</option>
                                    </select>
                                    <label for="expiresAt" class="form-label">Expires At</label>
                                    <input type="Date" id="expiresAt" name="expiresAt" th:field="*{expiresAt}">
                                    <input type="hidden" name="id" th:value="${task.id}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-color-orange">Edit Task</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <!-- Button Delete Task Modal -->
                <button type="button" class="btn btn-outline-orange" data-bs-toggle="modal"
                        th:data-bs-target="${'#deleteTaskModal' + task.id}">
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <!-- Delete task Modal -->
                <div class="modal fade" th:id="${'deleteTaskModal' + task.id}" data-bs-backdrop="false" tabindex="-1"
                     aria-labelledby="deleteTaskModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content container-fluid">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteTaskModalLabel">Delete task</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/delete/task" method="POST">
                                    <input type="hidden" name="id" id="id" th:value="${task.id}">
                                    <p>Are you sure you want to delete this task?</p>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-color-orange" data-bs-dismiss="modal">Delete Task</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
<!-- Create Task Modal -->
<div class="modal fade" id="createTaskModal" data-bs-backdrop="false" tabindex="-1"
     aria-labelledby="createTaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createTaskModalLabel">Create Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/create/task" method="POST" th:object="${task}">
                <div class="modal-body">
                    <div style="display: flex; flex-direction: column;">
                        <label for="caseNotes" class="form-label">Case Notes</label>
                        <input class="form-control" type="text" th:field="*{caseNotes}">
                        <label for="prioritizationType"  class="form-label">Prioritization</label>
                        <select class="form-control" th:field="*{prioritizationType}">
                            <option value="Urgent">Urgent</option>
                            <option value="No rush">No rush</option>
                        </select>
                        <label for="expiresAt" class="form-label">Expires At</label>
                        <input type="Date"  name="expiresAt" th:field="*{expiresAt}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-color-orange">Create task</button>
                </div>
            </form>
        </div>
    </div>



</div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</html>